@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); /* roboto */

body {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    background-color: rgb(240, 245, 255) !important;
    color: rgb(22, 82, 138) !important;
}

/* FEJLÉC */
header {
    padding-top: 3%;
    text-align: center;
    padding-bottom: 3%;
}

#header-img {
    max-width: 60%;
}

#page-title {
    font-size: 8em;
    font-family: "Roboto", sans-serif;
}

#title-extra {
    font-size: 1.5em;
}

#title-quote {
    font-size: 0.7em;
}

#intro-text {
    text-align: justify;
    font-size: 0.8em;
    padding-top: 2em;
}

/* KÁRTYÁK */
#cards {
    text-align: justify;
    padding-top: 2em;
}

#cards img {
    width: 100%;
    height: auto;
    padding-bottom: 1em;
}

#cards p {
    font-size: 1.1em;
}

#cards-main-title {
    font-size: 3em;
    text-align: center;
}

.card-wrapper {
    background-color: rgb(227, 237, 255) !important;
    padding: 2em;
}

/* PARAGRAFUSOK */
#paragraphs {
    padding-top: 3em;
    padding-bottom: 3em;
    text-align: justify;
}

#paragraphs p {
    font-size: 1.1em;
}

.paragraph-wrapper {
    padding: 2em;
}

/* LÁBLÉC */
footer {
    background-color: rgb(227, 237, 255) !important;
    text-align: center;
    padding: 3em;
    margin-left: -5%;
    margin-right: -5%;
}